<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luke.supplierapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".checkContact" />
        <activity android:name=".VerifyCode" />
        <activity android:name=".Homes" />
        <activity android:name=".Homec" />
        <activity android:name=".Registration" />
        <activity android:name=".customerSupplier" />
        <activity android:name=".Qrders" />
        <activity android:name=".category" />
        <activity android:name=".Notifiying" />
        <activity android:name=".showSuppliers" />
        <activity android:name=".productsShow" />
        <activity android:name=".productsImages" />
        <activity android:name=".Products" />
        <activity android:name=".productSeller" />
        <activity android:name=".cartProducts" />
        <activity android:name=".Respond" />
        <activity android:name=".Enquiries" />
        <activity android:name=".Enquire" />

        <service
            android:name=".locations"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".addProduct" />
        <activity android:name=".addingImage" />

        <service
            android:name=".OrderNotification"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>